<footer>
    <div class="inner-footer">
      <address>
        <p>
            Email:
            <a href="mailto:sacha-olivier.dulac@hotmail.com">sacha-olivier.dulac@hotmail.com</a>;
          <br>
        </p>
      
        <p>
          Social:
          <a href="https://github.com/gultar" class="external">github</a>;
          <a href="https://www.linkedin.com/in/sacha-olivier-dulac-096367175/" class="external">linkedin</a>;
          <a href="https://dulactranslation.services" class="external">translation</a>;
        </p>
      
        <p class="copyleft">Creator: <a href="/">Sacha-Olivier Dulac</a></p>
      </address>
    </div>
</footer>