<nav class="navbar">
    <a class="nav-element{%- if request.path== '/' %} active{% endif %}" href="/">
        <span>{%- if request.path.startswith('/projects') %}[{% elif request.path=='/' %}[{% endif %}Projects{%- if request.path.startswith('/projects') %}] {% elif request.path=='/' %}]{% endif %}</span>
    </a>
    <a class="nav-element{%- if request.path== '/about' %} active{% endif %}" href="/about">
        <span>{%- if request.path== '/about' %}[{% endif %}About{%- if request.path== '/about' %}]{% endif %}</span>
    </a>
    <a class="nav-element{%- if request.path.startswith('/blog/') %} active{% elif request.path=='/blog' %} active{% endif %}" href="/blog">
        <span>{%- if request.path.startswith('/blog/') %}[{% elif request.path=='/blog' %}[{% endif %}Blog{%- if request.path.startswith('/blog/') %}] {% elif request.path=='/blog' %}]{% endif %}</span>
    </a>
    <a class="nav-element{%- if request.path== '/skills' %} active{% endif %}" href="/skills">
        <span>{%- if request.path== '/skills' %}[{% endif %}Skills{%- if request.path== '/skills' %}]{% endif %}</span>
    </a>
</nav>
