

<nav class="navbar">
    <a class="nav-element{% if current_page == '/' %} active{% endif %}" href="/">
        <span>{% if current_page == '/' %}{{ '#' }}{% endif %}Coding{% if current_page == '/' %}{{ '#' }}{% endif %}</span>
    </a>
    <a class="nav-element{% if current_page == '/translation' %} active{% endif %}" href="/translation">
        <span>{% if current_page == '/translation' %}{{ '#' }}{% endif %}Translation{% if current_page == '/translation' %}{{ '#' }}{% endif %}</span>
    </a>
    <a class="nav-element{% if current_page == '/blog' %} active{% endif %}" href="/blog">
        <span>{% if current_page == '/blog' %}{{ '#' }}{% endif %}Blog{% if current_page == '/blog' %}{{ '#' }}{% endif %}</span>
    </a>

    <a class="nav-element{% if current_page == '/' %} active{% endif %}" href="/terminal">
        <span>Terminal</span>
    </a>

</nav>
<h1 class="my-name">
    {% if (request.url_rule.endpoint == 'index') or (request.url_rule.endpoint == 'translation') or (request.url_rule.endpoint == 'coding_fr') or (request.url_rule.endpoint == 'translation_fr') %}
    <span class="wrapping-name typed"># <a class="name" href="/">Sacha-Olivier Dulac</a> #</span>
    {% else %}
    <!-- <span class="wrapping-name"># <a class="name" href="/">Sacha-Olivier Dulac</a> #</span> -->
    {% endif %}
</h1>