<!DOCTYPE html>
<html>
<head>
    <title>Markdown Blog</title>
    {% include '_header.html' %}
    <meta charset="UTF-8">
</head>
<body>
    <div class="post-content">
        {% set navbar_logged_in = logged_in %}
        {% include '_navbar.html' %}
        <div class="blog-navbar">
            <span class="blog-navbar-element"><a class="" href="/publications">List of Posts</a></span>
            
            {% if logged_in %}
                <span class="blog-navbar-element"><a class="" href="/admin/edit/new">New Post</a></span>
            {% endif %}

            <div class="blog-navbar-element search-container">
            
                <form action="{{ url_for('search') }}" method="get" class="search-form">
                    <input type="text" name="keyword" placeholder="Search article keyword..." class="search-input">
                    <button type="submit" class="search-button nav-element"><i class="fas fa-search"></i></button>
                </form>

            </div>
        </div>
        
        <div class="column-container">

            
            <div class="post-column">
                
                {% for content in post_contents %}
                    <p>
                        <md-block class="post-column-article">
                            {{ content | safe }}
                        </md-block>
                    </p>
                {% endfor %}
                
                <div class="pagination">
                    {% if total_pages > 1 %}
                        {% if current_page > 1 %}
                            <a href="{{ url_for('blog', page=current_page-1) }}">Previous</a>
                        {% endif %}
                        {% for page in range(1, total_pages + 1) %}
                            {% if current_page == page %}
                                <a href="{{ url_for('blog', page=page) }}" class="active">{{ page }}</a>
                            {% else %}
                                <a href="{{ url_for('blog', page=page) }}">{{ page }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if current_page < total_pages %}
                            <a href="{{ url_for('blog', page=current_page+1) }}">Next</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% include '_footer.html' %}
    </div>
</body>
</html>
