<!DOCTYPE html>
<html>
<head>
    <title>{{ post_title }}</title>
    {% include '_header.html' %}
    <meta charset="UTF-8">
</head>
<body>
    <div data-page="home" class="post-content">
        {% set navbar_logged_in = logged_in %}
        {% set navbar_language = language %}
        {% include '_navbar.html' %}
        <div class="language-toolbar">
            {% if language == "English" %}
                <a href="/coding-fr">Français</a>
            {% else %}
                <a href="/">English</a>
            {% endif %}
        </div>
        <!-- <div class="pixel-portrait-container">
            <span class="portrait-image-holder">
                <span class="pixel-portrait"></span>
            </span>
        </div> -->
        
        <md-block id="portfolios">
            
            {{ portfolio_content | safe }}
        </md-block>
        {% include '_footer.html' %}
    </div>

</body>
</html>