<!DOCTYPE html>
<html>
<head>
    <title>{{ post_title }}</title>
    {% include '_header.html' %}
    <meta charset="UTF-8">
</head>
<body>
    
    <div class="post-content">
        {% set navbar_logged_in = logged_in %}
        {% include '_navbar.html' %}
        <div class="language-toolbar">
            {% if language == "English" %}
                <a href="/projects-fr">Français</a>
            {% else %}
                <a href="/projects">English</a>
            {% endif %}
        </div>
        
        <md-block id="portfolios">
            
            {{ portfolio_content | safe }}
        </md-block>
        {% include '_footer.html' %}
    </div>

</body>
</html>