<!DOCTYPE html>
<html>
<head>
    <title>{{ post_title }}</title>
    {% include '_header.html' %}
    <meta charset="UTF-8">
</head>
<body>
    <div class="post-content">
        {% set navbar_logged_in = logged_in %}
        {% set navbar_language = language %}
        {% include '_navbar.html' %}
        <div class="skills-container">
            <div class="skillbars">
                <div class="panel-skillsbars">
                    <!-- First column of skills -->
                    {% set skill_name = 'Node.js' %}
                    {% set skill_percentage = 90 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'Python' %}
                    {% set skill_percentage = 75 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'Deno' %}
                    {% set skill_percentage = 80 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'Docker' %}
                    {% set skill_percentage = 55 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'Gulp' %}
                    {% set skill_percentage = 35 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'Sass' %}
                    {% set skill_percentage = 40 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'GPT-3.5' %}
                    {% set skill_percentage = 70 %}
                    {% include '_skillbar.html' %}
                </div>
                <div class="panel-skillsbars">
                    <!-- Second column of skills -->
                    {% set skill_name = 'Express' %}
                    {% set skill_percentage = 85 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'Flask' %}
                    {% set skill_percentage = 70 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'Electron' %}
                    {% set skill_percentage = 60 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'Solidity' %}
                    {% set skill_percentage = 50 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'PHP' %}
                    {% set skill_percentage = 60 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'DigitalOcean' %}
                    {% set skill_percentage = 80 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'Hugging Face' %}
                    {% set skill_percentage = 40 %}
                    {% include '_skillbar.html' %}
                </div>
                <div class="panel-skillsbars">
                    <!-- Third column of skills -->
                    {% set skill_name = 'Socket.io' %}
                    {% set skill_percentage = 90 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'jQuery' %}
                    {% set skill_percentage = 80 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'React' %}
                    {% set skill_percentage = 70 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'Wordpress' %}
                    {% set skill_percentage = 50 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'MySQL' %}
                    {% set skill_percentage = 75 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'Pinecone' %}
                    {% set skill_percentage = 40 %}
                    {% include '_skillbar.html' %}

                    {% set skill_name = 'LangChain' %}
                    {% set skill_percentage = 75 %}
                    {% include '_skillbar.html' %}
                </div>
            </div>
        </div>
        {% include '_footer.html' %}
    </div>
</body>
</html>
