<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <script src="../static/js/terminal/filesystem.bundle.js"></script>
    <script src="../static/js/terminal/terminal.js"></script>
    <link rel="stylesheet" href="../static/css/terminal.css">
    <script src="../static/js/app.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="main-wrapper">

        <div id="terminal-window-1" class="terminal-window">
            <div id="container-1" class="container">
                    <output id="output-1" class="output">
                    </output>
                    <div action="#" id="input-line-1" class="input-line">
                        <div id="prompt-1" class="prompt">
                        </div>
                        <div>
                          <input tabindex="0" id="cmdline-1" class="cmdline" autofocus />
                        </div>
                    </div>
            </div>
        </div>
        <div id="page-anchor"></div>
        
    </div>
</body>
</html>